*{
    box-sizing: border-box;
    scroll-behavior: smooth
}

header{
    @import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S+Guides:ital@0;1&display=swap');
    font-family: "Playwrite GB S Guides", cursive;
    font-weight: 400;
    font-style: normal;
    
}

/*? CAROUSEL */

/*? CAROUSEL */

.carousel-container {
    position: relative;
}

.carousel-container .carouselProd {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carouselProd::-webkit-scrollbar {
    display: none;
}

.carousel-container .carouselProd .slide {
    min-width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.carousel-container .carouselProd .slide img {
    width: 50%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
}




/*! Catalogo */


.cafe{
    border-radius: 20px;
    width: 250px;
    height: 283px;
}

.cafe img{
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.cafe .botones{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 6px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background-color: white;
    
}

.cafe .botones strong{
    text-align: center;
}

.cafe .botones button{
    align-self: center;
    width: 80%;
    height: 35px;
    background-color: aqua;
    border-radius: 7px;
    cursor: pointer;
}


