*{
    box-sizing: border-box;
    scroll-behavior: smooth
}

header{
    @import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S+Guides:ital@0;1&display=swap');
    font-family: "Playwrite GB S Guides", cursive;
    font-weight: 400;
    font-style: normal;
    
}

/*? CAROUSEL */

/*? CAROUSEL */

.carousel-container {
    position: relative;
}

.carousel-container .carouselProd {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carouselProd::-webkit-scrollbar {
    display: none;
}

.carousel-container .carouselProd .slide {
    min-width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.carousel-container .carouselProd .slide img {
    width: 50%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
}




/*! Catalogo */


.cafe{
    border-radius: 20px;
    width: 250px;
    height: 280px;
    background-color: white;
}

.cafe img{
    width: 100%;
    height:  100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.cafe .boton{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 6px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background-color: white;
    
}

.cafe .boton strong{
    text-align: center;
}

.cafe .boton button{
    align-self: center;
    width: 60%;
    height: 35px;
    background-color: rgb(236, 192, 135);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.carrito{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.titulo{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color:antiquewhite;
    margin-bottom: 20px;
}

.productos{
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.vacio{
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #6f4e37;
    min-height: 60px;
}